@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

/* Landing section */

.landingSection {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.landingContainer {
  height: 100vh;
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  object-fit: cover;
}

.landingMovieContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 100px;
}



.landingMovieInfo {
  width: 404px;
  height: 285px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.landingMovieInfo h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;

  color: white;
}

.LandingRating {
  display: flex;
  gap: 20px;
  align-items: center;
}
.LandingRating p {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;

  color: white;
}
.landingOverview {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.landingtrailer {
  width: 179px;
  height: 40px;
  padding: 6px 16px 6px 16px;
  border-radius: 6px;
  gap: 8px;
  background-color: #be123c;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.landingtrailer p {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}

.landingtrailer:hover {
  background-color: #800625;
  scale: 0.98;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.pagination {
  display: flex;
  flex-direction: column;
  color: white;

  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}

.pagination :nth-child(3) {
  font-size: 16px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}

/* Featured Section */

.featureSection {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.featureContainer {
  height: 100%;
  width: 87%;
  padding: 40px 0;
}

.featureHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.featureHeader p {
  font-size: 36px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}

.featureHeader a {
  color: #be123c;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
}

.featuredList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
}

/* MOVIEDETAIL SECTION */

.movieDetailSection {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
}

.movieDetailPoster {
  width: 1198px;
  height: 273px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.movieDetailContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 0 20px;
}

.movieDetailLay {
  display: flex;
  justify-content: space-between;
}
.movieDetailInfo {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-size: 23px;
  font-weight: 700;
  line-height: 35px;
  color: #404040;
  gap: 20px;
  padding: 20px 0;
  height: 100%;
}

.movieDetailText {
  display: flex;
  gap: 10px;
}

.movieDetailform {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 100px;
}

.movieDetailRatingContainer {
  display: flex;
  align-items: end;
  flex-direction: column;
  padding: 20px 0;
  gap: 20px;
}

.movieDetailRating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.movieDetailVote {
  color: #e8e8e8;
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 500;
  line-height: 38px;
}

.movieDetailCount {
  color: #e8e8e8;
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 500;
  line-height: 38px;
  color: #666666;
}

.movieDetailOverview {
  width: 775px;
  height: 90px;
}
.movieDetailOverview p {
  color: #333333;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.movieDetailDirectors {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.movieDetailDirectors p {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.movieDetailDirectors p span {
  color: #be123c;
}

.movieDetailTopRated {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 785px;
  height: 55px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid #c7c7c7;
}

.movieDetailTopRated p:nth-child(1) {
  width: 253px;
  height: 55px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  background: #be123c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movieDetailTopRated p:nth-child(2) {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}

.movieDetailShow {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.movieDetailShow button {
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  width: 360px;
  height: 55px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.movieDetailShow button:hover {
  scale: 0.95;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}

.movieDetailShow button:nth-child(1) {
  background-color: #be123c;
  color: white;
  cursor: pointer;
}
.movieDetailShow button:nth-child(2) {
  border: 2px solid #be123c;
  background-color: #be123c1a;
  cursor: pointer;
}

.recommended {
  background-image: url("./assets//sidebar//3img.png");
  width: 360px;
  height: 229px;
  display: flex;
  align-items: end;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.recommendedText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #12121280;
  height: 42px;
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.loader {
  position: relative;
  width: 100px;
  height: 16px;
  padding: 200px 200px;
}
.loader:before , .loader:after{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #940000;
  box-shadow: 32px 0 #8d8d8d;
  left: 0;
  top: 0;
  animation: ballMoveX 1s linear infinite;
}
.loader:after {
  box-shadow: none;
  transform-origin: 40px 0;
  transform: rotate(-153deg);
  animation: rotateLoader 1s linear infinite;
}

@keyframes rotateLoader {
  0% , 10%{ transform: rotate(-153deg); }
  90%, 100% { transform: rotate(0deg); }
}
@keyframes ballMoveX {
  0% , 10%{  transform: translateX(0) }
  90%, 100% { transform: translateX(32px) }
}
    
@keyframes colorBallMoveX {
0%  {
  background-position: 0% 0;
  transform: translate(-15px, -50%);
}
15%  , 25% {
  background-position: 0% 0;
  transform: translate(0px, -50%);
}
75% , 85% {
  background-position: 100% 0;
  transform: translate(50px, -50%);
}
100% {
  background-position: 100% 0;
  transform: translate(65px, -50%);
}
}



@media (max-width: 768px) {
  .landingMovieContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
  }

  .landingMovieInfo h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;

    color: white;
  }

  .landingtrailer {
    width: 160px;
    height: 35px;
    padding: 6px 13px 6px 13px;
    border-radius: 6px;
    gap: 8px;
    background-color: #be123c;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
  }

  .landingtrailer p {
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
  }

  .pagination {
    display: none;
  }

  .featureHeader p {
    font-size: 20px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
  }

  .featuredList {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 100px;
  }


  
.movieDetailSection {
  overflow: hidden;
  
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  gap: 30px;
  align-items: center;
}

.movieDetailPoster {
  width: 100%;
  height: 273px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.movieDetailContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 20px;
}

.movieDetailLay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.movieDetailInfo {
  display: flex;
  flex-direction: column;
 
  padding: 20px 0;
  height: 100%;
}

.movieDetailText {
  display: flex;
  gap: 10px;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 700;
  line-height: 35px;
  color: #404040;
  gap: 0px;
  
}

.movieDetailform {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 50px;
}

.movieDetailRatingContainer {
  display: flex;
  align-items: end;
  flex-direction: column;
  padding: 20px 0;
  gap: 20px;
}

.movieDetailRating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.movieDetailVote {
  color: #e8e8e8;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  line-height: 38px;
}

.movieDetailCount {
  color: #e8e8e8;
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 500;
  line-height: 38px;
  color: #666666;
}

.movieDetailOverview {
  width: 100%;
  height: 100%;
}
.movieDetailOverview p {
  color: #333333;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.movieDetailDirectors {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movieDetailDirectors p {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.movieDetailDirectors p span {
  color: #be123c;
}

.movieDetailTopRated {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid #c7c7c7;
}

.movieDetailTopRated p:nth-child(1) {
  flex: 1;
  height: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  background: #be123c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movieDetailTopRated p:nth-child(2) {
  flex: 1;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}

.movieDetailShow {
  display: flex;
  flex-direction: column;
  gap: 15px;
 align-items: center;
}

.movieDetailShow button {
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  width: 345px;
  height: 55px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.movieDetailShow button:hover {
  scale: 0.95;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}

.movieDetailShow button:nth-child(1) {
  background-color: #be123c;
  color: white;
  cursor: pointer;
}
.movieDetailShow button:nth-child(2) {
  border: 2px solid #be123c;
  background-color: #be123c1a;
  cursor: pointer;
}

.recommended {
  background-image: url("./assets//sidebar//3img.png");
  width: 345px;
  height: 229px;
  display: flex;
  align-items: end;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.recommendedText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #12121280;
  height: 42px;
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

  
}
